<div>
  <div>
    <form class="example-full-width" (ngSubmit)="onSubmit()">
      <div class="d-flex">
        <mat-form-field>
          <mat-label>Favorite Movie</mat-label>
          <input matInput placeholder="Ex. Marvel" [formControl]="movie" />
        </mat-form-field>
        <button mat-flat-button [color]="color" type="submit">Search</button>
      </div>
    </form>
  </div>
  <div>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let movietitle of titleData; let i = index">
        <mat-card appearance="outlined" class="full-tile-card">
          <mat-card-header>
            <div
              mat-card-avatar
              [ngStyle]="{
                'background-image':
                  'url(' + movietitle.node.entity.primaryImage?.url + ')'
              }"
              width="10"
              height="10"
            ></div>
            <mat-card-title>{{
              movietitle.node.entity.titleText.text
            }}</mat-card-title>
            <mat-card-subtitle>{{
              getActorNames(movietitle.node.entity.principalCredits)
            }}</mat-card-subtitle>
          </mat-card-header>

          <img
            ngSrc="{{ movietitle.node.entity.primaryImage?.url }}"
            alt="movietitle.node.entity.titleText.text"
            width="500"
            height="400"
          />
          <mat-card-content>
            {{ movietitle.node.entity.titleText.text }}
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>
